/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
  /* Hide page until fully loaded */
  display: none;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #000000;
}

p{
  text-align: justify;
  font-weight:450;
}


/* HEADER
  ---------------------------------------- */

  .navbar-brand {
    color:#ff6600 !important;
  } 

    .navbar-brand:hover{
    /* text-shadow:0.5px 0.5px #BDBDBD; */
    color:#b34700 !important;
    font-weight:400;
  } 

  .nav-link
  {
    color:#000000 !important;
    font-weight:500;
  } 

  .nav-link:hover
  {
    color:#ff6600 !important;
    font-weight:500;
  } 

  .dropdown-item{
    font-weight:500 !important;
  }
    
  .dropdown-item:focus,.dropdown-item:hover{
    color:#f6673c;
    text-decoration:none;
    background-color:#f8f9fa
  }

  /* #FF00FF */
    
  .dropdown-item.active,.dropdown-item:active{
    color:#fff;
    text-decoration:none;
    background-color:#f6673c;
  }
      
  .dropdown-item.disabled,.dropdown-item:disabled{
    color:#6c757d;
    pointer-events:none;
    background-color:transparent
  }
        
  .dropdown-menu.show{
    display:block
  }
    
  .dropdown-header{
    display:block;
    padding:.5rem 1.5rem;
    margin-bottom:0;
    font-size:.875rem;
    color:#6c757d;
    white-space:nowrap
  }
    
  .dropdown-item-text{
    display:block;
    padding:.25rem 1.5rem;
    color:#212529
  }


/* .container, .container-md, .container-sm, .container-xl
{
  max-width:1300px;
} */

.jumbotron-container{
  margin-top:-10px;
  margin-bottom:-30px !important;
}

.display-4{
  font-size:1.6rem;
}

.btn{
  font-size: 1.1rem;
  font-weight: 400;
  text-shadow:0.5px 0.5px #b34700;
  padding:0.10rem 0.75rem 0.10rem 0.75rem
}

.btn-primary,
.btn-primary:visited
{
    background-color: #ff6600 !important;
    border-color: #ff6600 !important;
}


.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus
{
    background-color:#e65c00 !important;
    border-color: #e65c00 !important;
    outline: none !important;
    box-shadow: none !important;
}


/* MIDDLE CONTENT
  -------------------------------------------------- */

/* .col-md-7{
  flex:0 0 46%;
  max-width:46%;
  padding: 0px 0 0 215px;
} */

.col-md-1{
  flex:0 0 3%;
  max-width:3%;
  padding: 0 !important;
}

.middle .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.middle h2 {
  font-weight: 500;
  /* padding-bottom: 10px; */
}
.middle .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.font-weight-normal
{
  font-weight:330 !important;
}

a{
  color:#ffffff;
  font-weight:400;
}

/* .lead{
  font-size:1.2rem;
  font-weight:300;
} */

a:hover{
  color:#ff6600;
  font-weight:400;
}


.big-row {
  padding: 8em 0em 8em 0em;
}

.medium-row {
  padding: 0em 0em 1em 0em;
}

/* .mb-5,.my-5{
  margin-bottom:1rem!important
} */

/* .raised {
  position: relative;
  top: -2px;
}  */

/* .shadow-sm{
box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important
} */

.card{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.card-text {
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
}

.png-shadow {
  -webkit-filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.5));
  filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.5));
}

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* .heading {
  padding: 1em 0em 1em 0em;
} */

/* CV
  --------------------------- */
.cv-top-header h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.cv-section {
  padding-top: 40px;
}

.cv-section h2 {
  font-size: 16px;
  font-weight: bold;
}

.cv-section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

.cv-section p {
  margin-bottom: 0px;
}

/* FOOTER
  --------------------------- */

#footer svg {
  color: #5a5a5a;
  font-size: 24px;
}

#footer p {
  vertical-align: middle;
  font-size:1.0rem;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
